:root {
    --main-color: #8e44ad;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Noto Sans Old Permic', sans-serif;
    font-weight: 100;
    cursor: url(icons8-cursor-48.png), auto;
    position: relative;
    background: var(--main-color);

}


.operator1:hover {
    background-color: rgb(240, 110, 50);
}


body button:hover {
    background-color: rgb(228, 228, 228);
    cursor: pointer;
    opacity: 0.9;
}

.calculator-container {
    text-align: center;
    border: 20px;
    height: 500px;
    width: 500px;
    margin-top: 150px;
}





.column-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: 400;
    cursor: url(icons8-cursor-48.png), auto;


}

.column1, .column2, .column3, .column4 {
    display: flex;
    flex-direction: column;

}





.column1 .operator{
    background-color: rgb(228, 228, 228);
}

.column2 .operator {
    background-color: rgb(228, 228, 228);

}

.column3 .operator {
    background-color: rgb(228, 228, 228);

}

.column4 .operator {
    background-color: rgb(228, 228, 228);

}


.column1 button {
    background-color: white;
    padding: 17px;
    font-size: 30px;
    font-weight: 100;
    border: 1px solid rgb(210, 210, 210)

}

.column2 button {
    background-color: white;
    padding: 17px;
    font-size: 30px;
    border: 1px solid rgb(210, 210, 210)

}

.column3 button {
    background-color: white;
    padding: 17px;
    font-size: 30px;
    border: 1px solid rgb(210, 210, 210)

}

.column4 .operator {
    background-color: rgb(228, 228, 228);
    padding: 17px;
    font-size: 30px;
    border: 1px solid rgb(210, 210, 210)

}

.operator1 {
    height: 100%;
    background-color: rgb(232, 116, 49);
    height: 100%;
    font-size: 30px;
    border-bottom-right-radius: 20px;
    border: 1px solid gray

}



.display {
    background-color: black;
    width: 91.2%;
    height: 130px;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    text-align: right;
    font-size: 50px;
    padding: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    pointer-events: none;
    border: rgb(255, 255, 255) solid 2px;

}


.zero-button {
    border-bottom-left-radius: 20px;
}


.color-switcher {
  background-color: white;
  position: fixed;
  right: -175px;
  margin-top: 25px;
  width: 170px;
}

.color-switcher h3 {
    color: var(--main-color);
    align-items: center;
    padding: 0;
    text-align: center;
}

.color-switcher .switcher-btn {
    width: 50px;
    background-color: white;
    color: var(--main-color);
    position: absolute;
    left: -60px;
    font-size: 40px;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    cursor: pointer;
    border-left: #db4d07 solid 3px;
}



.color-switcher .theme-buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 12px;
}

.color-switcher .switcher-btn i {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

.color-switcher .theme-buttons-container .theme-buttons {
    display: block;
    height: 50px;
    width: 50px;
    padding: 8px;
    border-radius: 50px;
    margin: 5px;
    border-radius: 50%;
}


.theme-buttons {
    cursor: pointer;
}

.color-switcher.active {
    right: 0;
}

.calculator-container button {
    color: var(--main-color);
}

.header-container {
    position: absolute;
    top: 25px;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
}